
<template name="viewCurso">
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		
			<div class="list-group">
				 <a href="/" class="list-group-item active"> {{ course }}</a>
			
			</div>
			
			<div class="row">
				<div class="col-md-6">
					 
					<a href="{{pathFor 'viewCursoMaterial'}}" class="btn btn-default">
						Materiales
					</a>
				</div>
				<div class="col-md-6">
					 
					<a href="{{pathFor 'viewCursoProfesores'}}" class="btn btn-default">
						Profesores
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					 
					<button type="button" class="btn btn-default">
						Solicitudes
					</button>
				</div>
				<div class="col-md-6">
					 
					<a  href="{{ pathFor 'viewCursoReviews'}}" class="btn btn-default">
					  Reviews
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
</template>
