<template name="viewCursoMaterialSubmit">
  
  <div class="row">
		<div class="col-md-12">
			<form role="form">
			  <div>
			    
			    <input type="text" name="idCurso" value="{{_id}}" /> 
			  </div>
				<div class="form-group">
					
					<label>
						Nombre 
					</label>
					<input type="text" class="form-control" name="nombre-material" />
				</div>
				<div class="form-group">
					 
					<label>
					  Descripcion
					</label>
					<input type="text" class="form-control" name="descripcion-material" />
				</div>
				<div class="form-group">
					 
				  <label for="exampleInputFile">
				    Seleccionar archivo
				  </label>
				  <input type="file" id="exampleInputFile" />
				  
				</div>
			
				<button type="submit" class="btn btn-default">
					Submit
				</button>
			</form>
		</div>
	</div>
  
</template>
