

<template name="viewCursos">
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
					<div class="list-group">
				 <a href="#" class="list-group-item active">College</a>
				<div class="list-group-item">
					Universidad
				</div>
			
				<div class="list-group-item">
					
				</div> <a class="list-group-item active">-Carrera</a>
			</div>
			<div class="row">
				<div class="col-md-10">
				  
				  {{#each cursos}}
				  {{> viewCursosItem}}
				  {{/each}}
				</div>
				<div class="col-md-2">
					 
					<button type="button" class="btn btn-default">
						Add
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

   

</template>
