<template name="viewCursoProfesorSubmit">
  
  <div class="row">
		<div class="col-md-12">
			<form role="form">
			  <div>
			    
			    <input type="text" name="idCurso" value="{{_id}}" /> 
			  </div>
				<div class="form-group">
					
					<label>
						Nombre del profesor
					</label>
					<input type="text" class="form-control" name="nombre-profesor" />
				</div>
				<div class="form-group">
					 
					<label>
					  Descripcion - recomendaciones
					</label>
					<input type="textarea" class="form-control" name="descripcion-profesor" />
				</div>
				<div class="form-group">
			
				  
				</div>
			
				<button type="submit" class="btn btn-default">
					Submit
				</button>
			</form>
		</div>
	</div>
  
</template>
