
<template name="viewCursoMaterial">
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		
			<div class="list-group">
				 <a href="/cursos/{{curso._id}}" class="list-group-item active"> {{ curso.course }}</a>
			
			</div>
			<div class="row">
			  	<div class="col-md-12">
				  <a href="/cursos/{{curso._id}}/submitm" class="btn btn-default" > Add Material </a>
				</div>
				<div class="col-md-12">
					 
				Lista de materiales - mod  {{ curso._id }}
			
				{{#each materiales}}
				
				{{> viewCursoMaterialItem}}
				{{/each}}  
				  
				</div>
			
			</div>
		
		</div>
	</div>
</div>
</template>
