<template name="viewCursoProfesor">
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		
			<div class="list-group">
				 <a href="#" class="list-group-item active">Couse</a>
			
			</div>
			<div class="row">
				<div class="col-md-12">
					 
				Descripcion profesores
				</div>
			
			</div>
		
		</div>
	</div>
</div>
</template>
