<template name="viewCursoReviews">
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		
			<div class="list-group">
				 <a href="{{pathFor  'viewCurso'}}" class="list-group-item active">{{ course }}</a>
			
			</div>
			<div class="row">
				<div class="col-md-12">
					 
				Lista de Reviews 
				</div>
			
			</div>
		
		</div>
	</div>
</div>
</template>
