<template name="viewCursoProfesores">
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		
			<div class="list-group">
				 <a href="{{pathFor 'viewCurso'}}" class="list-group-item active">{{ curso.course }}</a>
			
			</div>
			<div class="row">
			  <a href="/cursos/{{curso._id}}/submitp" class="btn btn-default" > Add Profesor </a>
				<div class="col-md-12">
					 
				Lista de profesores 
				{{#each profesores}}
				{{> viewCursoProfesorItem }} 
				{{/each}}
				</div>
			
			</div>
		
		</div>
	</div>
</div>
</template>
