
<template name="layout">
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
				<a href="{{pathFor home}}">Collaborative College </a> <small>first prototype</small>
				</h1>
			</div>
		</div>
	</div>
	{{> yield}}
    </div>
</template>
